#drum-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4c0027;
  color: white;
}

#display {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid white;
  width: 300px;
  text-align: center;
}

.pads-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
}

.drum-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #1A1A40;
  cursor: pointer;
  user-select: none;
}

.drum-pad:active {
  background-color: #615c89;
}

.clip {
  display: none;
}
